* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@back-color: rgb(37, 37, 45);
@main-color: rgb(236, 198, 107);
@second-color:rgb(186, 186, 186);

@import "fonts";

body {
  background-color: @back-color;
  font-family: Museo Sans Cyrl;

}

.main {
  background-image: url("../src/images/main-house.jpg");
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid rgb(54, 61, 81);
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .burger {
      padding-right: 140px;
    }
  }
}

.phone-no {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 0.833;
    margin-top: 23px;
    text-align: end;
}
.phone-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .phone-order-text a {
      font-size: 16px;
      font-weight: bold;
      color: @main-color;
  }
}
.main-section {
  .container {
    position: relative;
  }
}
.main-info {
  max-width: 590px;
  margin: 162px auto;

  h1 {
    font-size: 50px;
    font-family: Neumann;
    color: @main-color;
    line-height: 1.2;
    text-align: center;
  }
  p {
    margin-top: 25px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  button {
    display: block;
    margin: 40px auto;
  }
}
button {
  background-image: -moz-linear-gradient( 0deg, rgb(252,195,114) 0%, rgb(240,219,188) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(252,195,114) 0%, rgb(240,219,188) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(252,195,114) 0%, rgb(240,219,188) 100%);
  width: 300px;
  height: 60px;
  text-align: center;
  border: 0;
  border-radius: 30px;
  font-size: 18px;
  color: rgb(37, 37, 45);
  font-weight: bold;
}
.arrow-down {
  position: absolute;
  left: 0;
  top: 240px;
  a {
    text-decoration: none;
  }
  .arrow-down-text{
    writing-mode: vertical-lr;
    font-size: 18px;
    font-weight: normal;
    color: @second-color;
    margin-bottom: 31px;
    top: 190px;
    transform: rotate(180deg);
  }
}
.social {
  position: absolute;
  right: 0;
  top: 50px;
  .social-item {
    margin-bottom: 30px;
  }

}
.spacer {
  height: 300px;
}

h2 {
  text-align: center;
  color: @main-color;
  font-size: 40px;
  font-family: Neumann;
}

.projects {
  h2 {
    margin-bottom: 40px;
  }
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 126px;
  }
}
.projects-img-big {
  margin-bottom: 24px;
}
.projects-img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  color: rgb(255, 255, 255);
}
.projects-info {
  margin-bottom: 113px;
  h3 {
    margin-bottom: 40px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.278;
    text-align: left;
    margin-bottom: 50px;
  }
  button {
    width: 365px;
    margin-bottom: 20px;
  }
  .save-pdf {
    background: transparent;
    margin-bottom: 0;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    line-height: 3.333;
  }
  .projects-info-bullets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .projects-info-bullet {
      display: flex;
      width: 110px;
      height: 110px;
      border: 1px solid @main-color;
      border-radius: 50%;
      color: @main-color;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 20px;
      line-height: 1.25;
      font-weight: normal;
      margin-bottom: 50px;
    }
  }
}

.Скачать_PDF_план_проекта__2_5_мб_ {
  font-size: 18px;
  font-family: "Museo Sans Cyrl";
  color: rgb(255, 255, 255);
  line-height: 3.333;
  text-align: center;
  position: absolute;
  left: 1104.187px;
  top: 1554.957px;
  z-index: 373;
}

